.tranding {
    margin-top: 100px;
    .titleName {
        h3 {
            font-family: 'Playfair Display', serif;
        }
        .line {
            width: 100%;
            height: 1px;
            background: rgba(45, 45, 45, 1);
            margin-top: 33px;
            margin-bottom: 25px;
        }
    }
}